deepfilternet
fastapi
httpx
numpy
onnxruntime
playwright
protobuf
pydantic
pydantic-settings
ruff
sentencepiece
sherpa-onnx
soundfile
soxr
sse-starlette
stopwordsiso
torch
torchaudio
transformers
uvicorn[standard]
websockets
