# =============================================================================
# Backend Central Gateway Configuration Template
# =============================================================================

# Periodic interval: Number of new accumulated utterances before triggering LLM summarization
MIN_UTTERANCES_STACK=40

# Number of previous utterances to include as overlapping context when gathering for LLM summarizer
UTTERANCES_OVERLAP_CONTEXT=30
