fastapi>=0.100.0
uvicorn[standard]>=0.22.0
python-multipart>=0.0.6
addict>=2.4.0
asteroid>=0.7.0
deepfilternet>=0.5.6
dependency-injector>=4.49.1
librosa>=0.11.0
modelscope>=1.39.1
numpy>=1.26.4
onnxruntime>=1.28.0
pyannote-audio==3.1.1
pyyaml>=6.0.3
resemblyzer>=0.1.4
scipy>=1.17.1
setuptools<82.0.0
simplejson>=3.19.2
soundfile>=0.14.0
speechbrain==0.5.16
torch==2.4.1
torchaudio==2.4.1
datasets>=2.0.0
requests