# Virtual environment
.venv/
env/
venv/
__pycache__/
*.pyc

# IDE and Agent
.vscode/
.idea/
.antigravityignore

# Data and execution results
data/
results/
logs/

# Directory containing heavy weight files (Use Docker Volume to mount instead of copying hard into Image)
weights/
prepare/